

.club-logo {
  margin: 10px;
  width: 124px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}