.shopping-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.shopping-item p {
  font-size: 1rem;
  font-weight: bold;
}

.group-right {
  justify-content: end;
  display: flex;
}

h4 {
  color: #5742a9;
  justify-items: start;
  width: 224px;
  height: 22px;
}

h3 {
  width: 224px;
  height: 19px;
  color: Black;
}

.swiper-wrapper {
  width: 800px !important;
}