@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.input {
    position: relative;
    outline: none;
}

.search {
    position: absolute;
    top: 15px;
    left: 7px;
    width: 19px;
}

.inputs::placeholder {
    color: #636363;
}

.cursor-pointer {
    cursor: pointer;
    transition: 0.8s;
}

.logout-btn {
    display: block;
    margin-top: 10px;
    position: absolute;
    right: 0;
    transition: 0.8s;
}

.css-1efeo2o-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: black !important;
}

.css-1aquho2-MuiTabs-indicator {
    color: purple !important;
}

.alls {
    font-family: "Inter", sans-serif;
}


.scrollbar::-webkit-scrollbar {
    width: 7px;
    background: #D9D9D9;
    border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #5742A9;
    border-radius: 6px;
    border: 3px solid #5742A9;
}

.standings-table th,
.standings-table td {
    padding: 8px;
    margin: 12px 0;
}

.standings-table tr {
    border-radius: 12px !important;
}

/* Add this CSS in your global CSS file */

:root {
    --bg-light: #E8E8E6;
    --bg-dark: #333;
    --text-light: #000;
    --text-dark: #fff;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.dark-mode body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.main-content {
    background-color: var(--bg-light);
    transition: background-color 0.3s;
}

.dark-mode .main-content {
    background-color: var(--bg-dark);
}